<%- include("partials/header") %>

<div class="container" id="maincontent">
        <BR><BR><BR><BR>
        <h1>Hello, welcome to this test application.</h1>
        <div>There are some pictures here, and that's about it!!</div>

</div>

<%- include("partials/footer") %>